@import "tailwindcss";

:root {
  --primary-100: #FFE8F0;
  --primary: #EE2B69;
  --secondary: #FBE843;

  --black-100: #333333;
  --black-200: #141413;
  --black-300: #7D8087;
  --black: #000000;

  --white-100: #F7F7F7;
  --white: #FFFFFF;

  --radius: 8px; /* Adjust as needed */
}

/* Border Radius */
.lg-rounded { border-radius: var(--radius); }
.md-rounded { border-radius: calc(var(--radius) - 2px); }
.sm-rounded { border-radius: calc(var(--radius) - 4px); }

/* Shadows */
.shadow-100 { box-shadow: 2px 2px 0px 0px rgb(0, 0, 0); }
.shadow-200 { box-shadow: 2px 2px 0px 2px rgb(0, 0, 0); }
.shadow-300 { box-shadow: 2px 2px 0px 2px rgb(238, 43, 105); }

/* Typography */
.work-sans { font-family: var(--font-work-sans), sans-serif; }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
